@model IEnumerable<TodoApp.Models.Todo>

@{
    ViewBag.Title = "已備份的項目";
}

<div class="ui padded grid">
    <div class="three wide column">
    </div>
    <div class="ten wide column">
        <div class="inline field">
            <div class="ui left floated launch icon button">
                <i class="sidebar icon"></i>
            </div>
        </div>
        <div class="ui secondary pointing filter menu">
            <a class="active teal item" data-tab="unread">@ViewBag.Title</a>
        </div>
        <table class="ui table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(modelItem => modelItem.Task)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Task)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="three wide column">
    </div>
</div>