@model IEnumerable<TodoApp.Models.Todo>

@{
    ViewBag.Title = "待辦事項";
}

<div ng-app="todoApp" ng-controller="TodoController" ng-init="getTodos()" ng-cloak>
    <div class="ui padded grid">
        <div class="three wide column">
        </div>
        <div class="ten wide column">
            <div class="inline field">
                <div class="ui left floated launch icon button">
                    <i class="sidebar icon"></i>
                </div>
                <div class="ui icon left floated input">
                    <input type="text" ng-model="search.Task" placeholder="Search...">
                    <i class="search icon"></i>
                </div>
                <span ng-show="search.Task != ''" ng-bind="'共 ' + results.length + ' 個搜尋結果'" class="ui pointing teal left label"></span>
                <form ng-submit="addTodo()" class="ui action input right floated">
                    <input type="text" ng-model="task" placeholder="加入待辦事項">
                    <button class="ui primary button" type="submit">新增</button>
                </form>
            </div>
            <div class="ui secondary pointing filter menu">
                <a class="active red item" data-tab="unread">@ViewBag.Title</a>
            </div>
            <div class="ui active tab" data-tab="unread">
                <div class="ui very relaxed divided link list" id="sortable" ng-cloak>
                    <div class="item" ng-repeat="todo in todos | orderBy:'Order' | filter:search as results" ng-attr-id="{{ todo.Id }}">
                        <div class="left floated ui star rating" ng-click="toggle(todo)">
                            <i class="icon" ng-class="{'active':todo.IsDone}"></i>
                        </div>
                        <div ng-if="!todo.IsEdit">
                            <div class="right floated date">
                                <div class="button ui" ng-click="enterEditMode(todo)">編輯</div>
                                <div class="button red ui" ng-click="removeTodo($index)">刪除</div>
                            </div>
                            <div class="description">{{todo.Task}}</div>
                        </div>
                        <div ng-if="todo.IsEdit">
                            <div class="ui input">
                                <input type="text" ng-model="todo.EditTask">
                            </div>
                            <div class="button ui primary" ng-click="confirmEdit(todo)">確認</div>
                            <div class="button ui" ng-click="cancelEdit(todo)">取消</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            <span>
                [ <a href="" ng-click="archive()">備份</a> ]
            </span>
            <div class="ui statistic right floated">
                <div class="value">
                    {{remaining()}} / {{todos.length}}
                </div>
                <div class="label">
                    已經完成
                </div>
            </div>
        </div>
        <div class="three wide column"></div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/todo.js"></script>
}